body,
html {
    background: #f2f2f2;
}

.has-background-pink {
    background: #F76C6C !important;
}

.has-background-grey {
    background: #39424e !important;
}

code .tag:not(body) {
    align-items: unset;
    background-color: unset;
    border-radius: unset;
    color: unset;
    display: unset;
    font-size: unset;
    height: unset;
    justify-content: unset;
    line-height: unset;
    padding-left: unset;
    padding-right: unset;
    white-space: unset;
}

pre,
.message {
    max-width: 960px;
}

.message.is-primary .message-body {
    border-color: #ffd64f;
}

.message-body {
    background: #ffd64f26;
}

li {margin: 10px}

.hero.is-primary {
    background: linear-gradient(to top right, #524ad0 10%, #D099FA);
}

.box {
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
}

.box span.icon {
    float: right;
    font-size: 1.7em;
    padding: 2rem 2rem 0 0;
}

.is-large.fab {
    font-size: 7em;
}

.is-large.fas {
    font-size: 5em;
    margin-left: 0.2em;
}

.footer {
    padding-bottom: 3rem;
    background-color: white;
}
